./TibberTask/bin/*
./TibberTask/DesignTimeBuild/*
TibberTask/.vs/*
*.dll
*.dll
*.cache
*.pdb
*.sentinel
.docker-compose.yml.swp
TibberTask/.docker-compose.yml.swn
TibberTask/.docker-compose.yml.swo
TibberTask/.docker-compose.yml.swp
TibberTask/.docker-compose.yml.un~
*.dll
*.cache
